/*TODO: make similar to general*/

.log_list__title_wrapper {

    margin-top: 1em;
    text-align: left;
    padding: .5em 1em .5em 0;
    vertical-align: middle;
    border: 1px solid #aaaaaa;
    background-color: #cccccc;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    }
    .log_list__title {
        line-height: 1.5;
        font-weight: bold;
        font-size: 8pt;
        font-family: Verdana,Arial,sans-serif;
        color: #222222;
        margin-left: 1em;
    }

.log_list_wrapper {
    border: 1px dotted;
    width: 500px;
    }

    .log_list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }

        .log_list__item {
            font: 200 1.1em/1.5 Helvetica, Verdana, sans-serif;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            }

            .log_list__item:last-child {
                border: none;
            }

            .log_list__item:hover {
                font-size: 1.3em;
                background: #f6f6f6;
                cursor: pointer;
            }

.log_item_menu {
    display: none;
    width: 100px;
    border: 1px solid #1c1c1c;
    position: absolute;
    }
    .log_item_menu li {
        background-color: #302f2f;
        position: relative;
        }
        .log_item_menu li a {
            color:#FFFFFF;
            text-decoration:none;
            padding:10px;
            display:block;
        }
        .log_item_menu li a:hover {
            padding:10px;
            font-weight:bold;
            color: #F00880;
        }