<script type="text/javascript" src="${pluginRoot}/templates/smart-utils/js/smart-utils.js"></script>

<div class="log_list__title_wrapper">
    <p class="log_list__title">${smart.logger.list.title}</p>
</div>
<br>
<div class="log_list_wrapper">

    <form class="log_list_wrapper__from" action="/services/smart-utils/logger" method="GET">
        <label for="filter_expression">Filter by:</label>&nbsp;<input id="filter_expression" name="filter" /><br><br>
        <select class="log_list" name="file">
        </select>
        <button type="submit">Open log</button>
    </form>

    <br><br><br>

    <ul class="log_item_menu">
        <li><a href="#" target="_blank">open</a></li>
        <li><a href="#">download</a></li>
    </ul>
</div>